@import "../variables";

.Partners2 {
  margin-top: 50px;
  margin-bottom:30px;
  text-align: center;
  position: relative;

  img {
    max-height: 42px;
    max-width: 175px;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    @media(min-width: $bp-small) {
      &:nth-child(n+2) {
        margin-left: 20px;
      }
    }

    @media(max-width: $bp-small) {
      display: block;
      margin: 20px auto;
    }
  }

  .coinbase {
    bottom: 4px;
  }

  .onec {
    bottom: 2px;
  }

  .ff {
    bottom: 3px;
  }

  .bc {
    bottom: 8px;
  }
}