@import '../variables';

/* Materialize's search bar is REALLY opinionated, I rolled my own */
.searchbar_container {
  background: white;
  padding-right: 20px!important;
  margin-right: 2%;
  width: calc(100% - #{$sort-width*1.1 + $margin-default});
  border: solid 1px #E2E6EF;
  border-radius: 50px!important;

  .material_input, input[type=text] {
    width: 70%!important;
    margin-bottom: 0!important;
    padding-left: 20px!important;
    margin-left: 24px;
    border:none !important;
    outline: none !important;
    
    /* Removing materialize's annoying underlines for inputs */
    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important
    }

    @media(max-width: 740px) {
      margin-left: 20px;
    }
  }

  @media(max-width: 740px) {
    padding-right: 20px!important;
    width: 70%;
    margin-right: 20px;
  }
}