.CheckboxesList {

  .title {
    color: #1C1C1C;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .list {
    padding-left: 30px;
  }

  .CheckboxInput {
    margin-bottom: 10px;
  }
}
