@import '../../../../../scss/global';

.ClickableItem {
  padding: 6px;
  color: #1C1C1C;
  font-family: $mainFont;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  display: inline-block;

  &.active {
    color: #009BD2;
  }
  &.disabled {
    color: #D7D7D7;
  }
  &.no-pointer {
    cursor: default;
  }
  &.day {
    height: 23px;
    width: 23px;
    padding: 0;
    margin: 5px 0;
    &.active {
      color: #FFFFFF;
      border: 1px solid #646464;
      background-color: #646464;
      border-radius: 23px;
    }
  }
}
