@import "../../scss/global";

.IFrame {
  > .is-loading {
    top: 0;
  }
  iframe {
    border: none;
    display: block;
    width: 100%;
  }
}

@include media-breakpoint-up($mediaQueryNotebook) {
  .IFrame {
    > .is-loading {
      left: calc(33% + 4px);
    }
  }
}
