@import '../../../../scss/global';

.MarketIndicatorTile {
  > .inner-wrapper {
    .name {
      font-size: 13px;
      line-height: 15px;
    }

    .pushable-val {
      display: block;
      text-align: right;
    }
    .value {
      font-size: 20px;
      line-height: 23px;
    }

    .diff {
      font-size: 16px;
      line-height: 19px;
      display: block;
      text-align: right;
    }
  }
  .inner-wrapper.color-bar {
    height: 123px;
    .name {
      padding-bottom: 15px;
    }
    .TrendPeriod {
      padding-top: 10px;
    }
  }
}
@include media-breakpoint-down($mediaQueryMobile) {
  .MarketIndicatorTile {
    margin-right: 0;
  }
}
@include media-breakpoint-only($mediaQueryMobile) {
  .MarketIndicatorTile {
    width: 139px;
    margin-right: 10px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-only($mediaQueryTablet) {
  .MarketIndicatorTile {
    width: 178px;
    margin-right: 9px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-only($mediaQueryNotebook)  {
  .MarketIndicatorTile {
    width: 173px;
    margin-right: 10px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@include media-breakpoint-up($mediaQueryDesktop) {
  .MarketIndicatorTile {
    width: 176px;
    margin-right: 10px;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
