@import "../../scss/global";
.ProductExpandableTile {
  padding-top : 16px;
  padding-bottom : 16px;
  .tile-wrapper {
    padding: 14px 15px 14px 14px;
    background-color: #F2F2F2;
  }

  .generic-field {
    min-width: auto;
  }

  .top-row {
    margin-bottom: 10px;
  }

  .title {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    margin: 6px 0;
  }

  .Icon {
    &.icon-info-yellow {
      font-size: 32px;
      display: block;
    }

    &.icon-more {
      font-size: 24px;
      color: #646464;
    }

    &.icon-arrow_02_down, &.icon-arrow_02_up {
      font-size: 25px;
      color: #979797;
      cursor: pointer;
    }

    &.icon-bell {
      background: #f2bb3a;
      border-radius: 50%;
      padding: 5px 7px;
    }
  }

  .icon-container {
    padding: 0 0 0 4px;
    border-left: 1px solid #D8D8D8;
    display: block;
  }

  .underlying-name-row {
    margin-bottom: 15px;
  }

  .underlying-name-col {
    color: #333333;
    font-size: 14px;
    line-height: 16px;
  }

  .generic-fields-mobile {
    margin-bottom: 25px;

    .generic-field .field-key, .generic-field .field-value {
      border: none;
      padding: 0;
    }

    .generic-field .field-key {
      font-size: 12px;
      line-height: 14px;
      color:#646464;
      margin-bottom: 10px;
      min-height: 28px;
      padding: 0;
    }

    .field:first-child {
      border-right: 1px solid #D8D8D8;
      padding-right: 22px;
      .field-value {
        color: #333333;
        line-height: 24px;
        size: 18px;
        font-family: $mainFontBold;
      }
    }

    .field:last-child {
      padding-left: 15px;
      .field-value {
        color: #9A3D37;
        line-height: 24px;
        size: 18px;
        font-family: $mainFontBold;
      }
    }
  }
}

@include media-breakpoint-up($mediaQueryTablet) {
  .ProductExpandableTile {

    .generic-field {
      min-width: auto;
    }

    .generic-fields {
      margin-bottom: 20px;
    }

    .field {
      border-right: 1px solid #D8D8D8;
      padding-left: 10px;
      padding-right: 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;

        .field-value {
          color: #9A3D37;
        }
      }

      .field-key {
        margin-bottom: 21px;
        min-height: 30px;
        font-size: 13px;
        color: #646464;
        line-height: 15px;
      }

      .field-value {
        font-size: 18px;
        color: #333333;
        font-family: $mainFontBold;
      }

      .field-key, .field-value {
        border-left: none;
        border-right: none;
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-up($mediaQueryNotebook) {
  .ProductExpandableTile {
    padding-right: 22px;

    .field .field-key{
     font-size: 12px;
      margin-bottom: 10px;
    }

    .Icon {
      &.icon-info-yellow {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
      }
    }

    .icon-container {
      border-left: none;
    }

    .flyout-icon-col {
      border-left: 1px solid #D8D8D8;
      padding-left: 10px;
      padding-top: 5px;
    }
  }
}

@include media-breakpoint-up($mediaQueryDesktop) {
  .ProductExpandableTile {
    padding-right: 40px;
  }
}
