@import "../../../scss/global";

.RegisterSection {
  font-family: $mainFontLight;
  .links {
    a {
      display: block;
    }
  }

  .ResendRegisterVerificationEmailForm {
    .ButtonsGroup .Button {
      margin: 5px 0 5px 0;
    }
  }
}
