.TextInputWithTitle {

  .title {
    color: #1C1C1C;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  input {
    border-radius: unset;
    min-height: 50px;
    border: 1px solid #A1A1A1;
  }

}
