@import "../../scss/global";
.ThemesListFilterable {
  .main-headline {
    color: #1C1C1C;
    font-family: $mainFontLight;
    font-size: 38px;
    line-height: 44px;
    padding: 30px 0 35px 0;
  }
}
