@import '../../../../scss/global';

.ThemeDetailsTable {
  thead {
    th {
      color: #333333;
      font-family: $mainFontLightBold;
      font-size: 14px;
      line-height: 20px;
    }
  }
  tbody {
    td {
      color: #333333;
      font-family: $mainFontLight;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
