.TrendPeriod {
  span {
    font-size: 13px;
    line-height: 15px;
    color: #646464;
    display: inline-block;
  }
  .trend.negative {
    .inner-wrapper.arrow {
      transform: rotate(180deg);
    }
  }
  .trend .inner-wrapper.arrow {
    margin-right: 2px;
    margin-left: 2px;
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    width: 0;
    height: 0;

  }
}
