.YearMonthsSection {
  max-width: 240px;
  margin: 0 auto;
  .YearSection {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 13px;
    padding-bottom: 4px;
    border-bottom: 1px solid #D8D8D8;
  }
}
