@import '../variables';

.AssetError {
  text-align: center;
  padding-top: 50px!important;

  .transaction {
    margin: auto;
  }

  .transaction-discord {
    color: $sea-green;
    border: none;
    padding: 0px;
  }

  img {
    width: 64px;
    height: 64px;
  }

  p {
    line-height: 1.8rem;
  }

  .transaction-success {
    color: black;
    font-size: 1.5rem;
  }

  .transaction-email {
    font-weight: 400;
    font-size:1.2rem;
  }
}